*{
  box-sizing: border-box;
}


.jumbotron-fluid {
   
   
    background-color: black;
    color: white;
    text-align: center;
    font-style: unset;
    opacity: 50%;

}


.btn-primary{

    background-color: black;
    color: white;
    text-align: center;
    font-weight: bold;
    
   
  
}


.login, .signup{
    
    padding: 10px;
    /* text-align: center; */
    font-weight: bold;
    /* opacity: 80%; */
    
}

.navbar-brand{

}

.card-body,ul,form, .modal, .fblack{
  /* background-color:#dfd4d4 ; */
  color: black;
}
.fwhite{
  color: white;
}
.bgwhite{
  background-color: white;
  
}
.promo, .signup, .login{
  background: rgba(255,255,255,0);
  border-radius: 10%;
}


body
{ 
  background: url("../img/bg.png") no-repeat center fixed;
  background-size: cover;
  color: rgb(255, 255, 255)

}

@media screen and (min-width: 601px) {
  .card-header, #welcomeuser, .restxt{
    font-size: 50px;
  }
}

@media screen and (max-width: 600px) {
  .card-header, #welcomeuser, .restxt{
    font-size: 30px;
  }
}

.card-container {
  perspective: 1000px;
}

.card-flip, .card-container {
  transform-style: preserve-3d;
  transition: all 0.7s ease;
}

.card-flip div {
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.back {
  transform: rotateY(-180deg);
}

.card-container:hover .card-flip {
  transform: rotateY(180deg);
}
.card-flip {
  display: grid; grid-template: 1fr / 1fr;
  grid-template-areas: "frontAndBack";
  transform-style: preserve-3d;
  transition: all 0.7s ease;
}

.front {
  grid-area: frontAndBack;
}

.back {
  grid-area: frontAndBack;
  transform: rotateY(-180deg);
}
#wineimage{
  max-height: 180px;
  
}
footer{
  position:fixed;
  bottom: 0;
  width: 100%;
  text-align: right;
  
}
.algcen{
  text-align: center;
}
