
  <div class="container">
    <div class="row d-flex justify-content-center">
        <h2 id="welcomeuser">Welcome <span class="member-name"></span></h2>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-sm">
    <div class="container">
      <div class="row my-3">
        <div class="col-6">
          <button class="btn btn-primary winery-addition" id="member">Add Winery</button>
        </div>
        <div class="col-6 d-flex">
          <a class="btn btn-primary ml-auto px-3" style="font-weight: bolder;" href="/logout">Logout</a>
        </div>
        
      </div>
      <h1>Wineries</h1>
      <div id="wineries"></div>
    </div>
  </div>

</div>
</div>
</div>


{{!-- New Modal --}}

{{!-- Wines form --}}

      <!-- The Modal -->
      <div class="modal fade" id="editmodal">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
          
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title" id="winemodalheader">Add Wine</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            
            <!-- Modal body -->
            <div class="modal-body">
      <form class="addwine" id="winemodal">
      <div class="form-group">
        <label for="exampleInputWine">Wine name</label>
        <input type="winename" class="form-control" id="winename-input" placeholder="Wine name">
      </div>
      <div class="form-group">
        <label for="exampleInputVariety">Variety</label>
        <input type="winevariety" class="form-control" id="winevariety-input" placeholder="Variety">
      </div>
      <div class="form-group">
        <label for="exampleYear">Year</label>
        <input type="wineyear" class="form-control" id="wineyear-input" placeholder="Year">
      </div>
      <div class="form-group">
        <label for="exampleInputimage">Image Link</label>
        <input type="url" class="form-control" id="wineimage-input" placeholder="Image Url">
      </div>      
      <div class="form-group">
        <label for="exampleDescription">Description</label>
        <textarea type="winedescription" class="form-control" rows="3" cols="5"id="winedescription-input" placeholder="Description (max 150 characters)"></textarea>
      </div>
      <div class="form-group">
        <label for="exampleInputPrice">Price</label>
        <input type="wineprice" class="form-control" id="wineprice-input" placeholder="Price">
      </div>
      <button type="submit" class="btn btn-primary" id="addwinemodalbtn">Add Wine</button>
      </form>
            </div>
            
            <!-- Modal footer -->
            <div class="modal-footer">
              <button class="btn btn-primary" id="editwinemodalbtn">Edit Wine</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
            
          </div>
        </div>
      </div>

{{!-- Wineries form --}}

      <!-- The Modal -->
      <div class="modal fade" id="editwineriesmodal">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
          
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title" id="wineriesmodalheader">Add Winery</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            
            <!-- Modal body -->
            <div class="modal-body">
      <form class="addwinery">
      <div class="form-group">
        <label for="exampleInputWinery">Winery name</label>
        <input type="wineryname" class="form-control" id="wineryname-input" placeholder="Winery name">
      </div>
      <div class="form-group">
        <label for="exampleInputWineryAddress">Address</label>
        <input type="wineaddress" class="form-control" id="wineaddress-input" placeholder="Address">
      </div>
      <div class="form-group">
        <label for="exampleInpupostcode">Postcode</label>
        <input type="winepostcode" class="form-control" id="winepostcode-input" placeholder="Postcode">
      </div>
      <div class="form-group">
        <label for="exampleInputPhone">Phone</label>
        <input type="winephone" class="form-control" id="winephone-input" placeholder="Phone">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail">Email</label>
        <input type="wineemail" class="form-control" id="wineemail-input" placeholder="Email">
      </div>
      <div class="form-group">
        <label for="exampleInputimage">Image Link</label>
        <input type="url" class="form-control" id="wineryimage-input" placeholder="Image Url">
      </div>
      <div class="form-group">
        <label for="exampleInputdesc">Description</label>
        <textarea type="text" class="form-control" rows="5" cols="50" id="winerydesc-input" placeholder="Description"></textarea>
      </div>      
      <button type="submit" class="btn btn-primary" id="addwineriesmodalbtn">Add Winery</button>
    </form>
            </div>
            
            <!-- Modal footer -->
            <div class="modal-footer">
              <button class="btn btn-primary" id="editwineriesmodalbtn">Edit Winery</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
            
          </div>
        </div>
      </div>      

{{!-- Event form --}}

      <!-- The Modal -->
      <div class="modal fade" id="editeventsmodal">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
          
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title" id="eventsmodalheader">Add Events</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            
            <!-- Modal body -->
            <div class="modal-body">
    <form class="addevent">
      <div class="form-group">
        <label for="exampleInputEvent">Event name</label>
        <input type="eventname" class="form-control" id="eventname-input" placeholder="Event name">

      </div>
      <div class="form-group">
        <label for="exampleEventTime">Time</label>
        <input type="time" class="form-control" id="eventtime-input" placeholder="Time">
      </div>
      <div class="form-group">
        <label for="exampleEventDate">Date</label>
        <input type="date" class="form-control" id="eventdate-input" placeholder="Date">
      </div>
      <div class="form-group">
        <label for="exampleEventCap">Capacity</label>
        <input type="number" class="form-control" id="eventcap-input" placeholder="Capacity">
      </div>
      <div class="form-group">
        <label for="exampleEventDesc">Description</label>
        <textarea type="text" class="form-control" id="eventdesc-input" placeholder="Description"></textarea>
      </div>      
      <button type="submit" class="btn btn-primary" id="addeventsmodalbtn">Add Event</button>
    </form>
            </div>
            
            <!-- Modal footer -->
            <div class="modal-footer">
              <button class="btn btn-primary" id="editeventsmodalbtn">Edit Event</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
            
          </div>
        </div>
      </div>

{{!-- Bookings --}}

      <!-- The Modal -->
      <div class="modal fade" id="editbookingsmodal">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
          
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title" id="vbookingmodalheader">Booking List</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            
            <!-- Modal body -->
            <div class="modal-body">
              <table class="table">
                <div>Total Number Booked: <span id="totalbooked"></span></div>
                <tr>
                  <th scope="col">Patron</th>
                  <th scope="col">Number Booked</th>
                  <th scope="col">Cancel</th>

                </tr>
                <tbody id="bookinglistdata">

                </tbody>

              </table>

            </div>
            
            <!-- Modal footer -->
            <div class="modal-footer">
          
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
            
          </div>
        </div>
      </div>
​<script type = "text/javascript" > history.pushState(null, null, location.href); history.back(); history.forward(); window.onpopstate = function () { history.go(1); }; </script>       

